<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-auto">
      <mat-form-field appearance="fill">
        <mat-label>Type here...</mat-label>
        <input [(ngModel)]="params.value"  name="value" matInput />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill">
        <mat-label>Search by...</mat-label>
        <mat-select (selectionChange)="onTypeSelectionChanged($event)" name="type" [(ngModel)]="params.type">
            <mat-option *ngFor="let option of searchByType" [value]="option" >{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill">
        <mat-label>Search by property...</mat-label>
        <mat-select name="key" [(ngModel)]="params.key">
            <mat-option *ngFor="let option of searchBy" [value]="option" >{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-auto">
      <button type="submit" mat-raised-button color="primary">Search</button>
    </div>
  </div>
</form>
